*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

ul,ol{
    list-style: none;

}

a{
    display: block;
    text-decoration: none;
}

img{
    vertical-align: middle;
}

/* ===================================== */

.container{
    width: 100%;
    height: 100svh;
    background-image: url(/img/BMW1.png);
    background-size: cover;
    background-position: center;
    padding: 20px 10%;
}


nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo{
    width: 160px;
    cursor: pointer;
}

nav .btn{
    text-decoration: none;
    color: #fff;
    background: #333;
    padding: 15px 50px;
    border-radius: 50px;
    border: 4px solid #f12525;
    
}

nav .btn:hover{
    transition: all linear 1s;
    color: #fff;
    background: #f12525;
    border: 4px solid #333;
    cursor: pointer;
    
}

.content{
    margin-top: 10%;
}

.content h2{
    color: red;
    font-size: 34px;
}

.content h1{
    font-size: 100px;
    color: #222;
    margin-top: -25px;
}

.content p{
    max-width: 380px;
    font-weight: 500;
    font-size: 14px;
    color: #555;
}


.content h3{
   margin-top: 30px;
   font-weight: 600;
   font-size: 24px;
}

.color-select{
    display: flex;
    margin-top: 30px;
}

.color-select div{
    background: #333;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
}

.color-select #red{
    background: red;
}
.color-select #blue{
    background: blue;
}


.color-select #black{
    background: black;
}